<?xml version="1.0"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				
				<rule name="rule 1L">
					<match url="^/$"  />
					<action type="Rewrite" url="/index.php"  />
				</rule>
				<rule name="rule 2L" stopProcessing="true">
					<match url="^([^/]+)/?$"  />
					<action type="Rewrite" url="/index.php?seccion={R:1}&amp;%{QUERY_STRING}"  />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>