@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;800&display=swap');

body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

/** EFECTOS DE TEXTO  **/
    .ml11 {
      font-weight: 700;
      font-size: 3.5em;
    }

    .ml11 .text-wrapper {
      position: relative;
      display: inline-block;
      padding-top: 0.1em;
      padding-right: 0.05em;
      padding-bottom: 0.15em;
    }

    .ml11 .line {
      opacity: 0;
      position: absolute;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: #fff;
      transform-origin: 0 50%;
    }

    .ml11 .line1 { 
      top: 0; 
      left: 0;
    }

    .ml11 .letter {
      display: inline-block;
      line-height: 1em;
    }    
    
/* HEADER **/
    .header-00{
    	width: 96%;
    	margin: 0%;
    	padding: 0.5% 2%;
    	background: #fff;
    	color: #111;
    	display: flex;
    }

    .header-00 ul{
    	width: 50%;
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;	
    }

    .header-00 ul>li{
    	text-align: center;
    	cursor: pointer;
    	margin: 3px 17px;
    	font-size: 1.05em;
    	transition: 0.3;
    }

    .header-00 ul>li:hover{
    	color: #ffd400eb;
    	transition: 0.3;
    }

    .header-00 ul>li>i{
    	font-size: 1.09em;
    }


    .header{
    	width: 100%;
        margin: 0%;
        padding: 0% 0%;
        background: #111;
        color: #fff;
        display: flex;
    }

    .header div{
    	font-family: 'Poppins', sans-serif;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.7em;
        letter-spacing: 1px;
        cursor: pointer;
    }

    .header ul{
    	width: 70%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;	
    }

    .header ul>li{;
    	text-align: center;
    	cursor: pointer;
    }

    .header ul>li>button{
    	font-family: 'Poppins', sans-serif;
        font-weight: bold;
        background: #ffd400eb;
        font-size: 1.4em;
        padding: 5px 10px;
        margin: 0px;
        border: none;
        width: 100%;
        cursor: pointer;
        color: #111;
        letter-spacing: 1px;
        transition: 0.3s;
    }

    .header ul>li>button:hover{
        color: #fff;
        transition: 0.3s;
    }

/* CARROUSEL */
    .carousel {
        width: 95%;
        margin: auto;
        overflow: hidden;
    }

    .carousel ul {
        display: flex;
        padding: 0;
       /* width: 200%;*/
        
        /*animation: cambio 15s infinite alternate linear;*/
    }

    .carousel li {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .carousel img {
        width: 15%;
        cursor: pointer;
        transition: 0.3s;
        transform: translateY(0px);
        filter: grayscale(0.8);
    }

    .carousel img:hover {
        transition: 0.3s;
        transform: translateY(-5px);
        filter: grayscale(0);
    }

    @keyframes cambio {
        0% {margin-left: 0;}
        45% {margin-left: 0;}
        
        50% {margin-left: -100%;}
        100% {margin-left: -100%;}
    }

/**/
    .slider{
    	background-image: url(../images/banners/banner-4.jpg);
        background-position: center;
        background-size: 100%;
        height: 550px;
        padding: 5%;
    }

    .slider > h1{
    	width: 100%;
        font-family: 'Poppins', sans-serif;
        font-size: 3em;
        margin: 0;
        padding: 0;
        color: #fff;
    }

    .slider > p{
    	width: 100%;
    	font-family: 'Poppins', sans-serif;
    	font-size: 2em;
        margin: 0;
        padding: 0;
        color: #fff;
    }

    .slider button{
    	font-family: 'Poppins', sans-serif;
        font-weight: bold;
        background: #ecc401;
        border: none;
        font-size: 1.5em;
        padding: 5px 15px;
        cursor: pointer;
        color: #111;
        letter-spacing: 1px;
        transition: 0.4s;
        border-radius: 3px;
    }

    .slider button:hover{
        background: #111;
        color: #fff;
        transition: 0.4s;
    }

/**/

    .section{
    	width: 100%;
    	margin: 0%;
    	padding: 0% 0%;
        background-image: url(../images/backgroun-texture-01.png);
        background-size: contain;
    }

/***/

    .content-01{
    	width: 90%;
    	padding: 0% 5%;
    	display: flex;
    	justify-content: space-around;
    	align-items: center;
    }

    .content-01>div{
    	width: 50%;
    	margin: 0;
    	padding: 0;
    }

    .content-01>div>h2{
    	font-family: 'Poppins', sans-serif;
        font-size: 3.1em;
        margin: 0;
        padding: 0;
        line-height: 55px;
        margin-bottom: 30px;
    }

    .content-01>div>h2>span{
     	color: #ffd400eb;
    }

    .content-01>div>p{
    	font-size: 1.3em;
    	font-family: 'Poppins', sans-serif;
    	margin: 0;
    	padding: 0;
    }

    .p-black{
    	background: #111;
        color: #fff;
        padding: 20px!important;
        margin-bottom: 18px!important;
    }

    .content-01>div>img{
    	width: 80%;
    	margin: 0 10%;
    	padding: 0;
    }

/**/

    .content-02{
    	position: relative;
    	background-image: url(../images/banners/banner-4.jpg);
        background-position: top;
        background-size: 100%;
    	width: 100%;
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	/*background: #111;*/
    }

    .content-02 > span{
    	width: 100%;
        height: 100%;
        background: #111;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        opacity: .3;
    }

    .content-02>div{
    	width: 100%;
    	margin: 0;
    	padding: 2% 5%;
    	text-align: center;
    	z-index: 1;
    }

    .content-02>div>h2{
    	text-align: center;
    	font-family: 'Poppins', sans-serif;
    	color: #fff;
        font-size: 2.1em;
        margin: 0;
        padding: 0% 0%;
        line-height: 50px;
    }

    .content-02>div>button{
    	font-family: 'Poppins', sans-serif;
        font-weight: bold;
        background: #ecc401;
        border: none;
        font-size: 1.5em;
        padding: 5px 15px;
        margin-top: 15px;
        cursor: pointer;
        color: #111;
        letter-spacing: 1px;
        transition: 0.4s;
        border-radius: 3px;
    }

    .content-02>div>button:hover{
        background: #111;
        color: #fff;
        transition: 0.4s;

    }
/**/
    .content-03{
    	width: 90%;
    	padding: 5% 5%;
    }

    .content-03>h2{
    	text-align: center;
    	font-family: 'Poppins', sans-serif;
    	color: #111;
        font-size: 2.1em;
        margin: 0;
        padding: 0% 0%;
        line-height: 50px;
    }

    .content-03>p{
    	text-align: center;
    	font-size: 1.3em;
    	font-family: 'Poppins', sans-serif;
    	margin: 0;
    	padding: 0;
    }

    .content-03>ul{
    	font-family: 'Poppins', sans-serif;
    	width: 100%;
    	list-style: none;
    	display: flex;
    	justify-content: space-around;
    	margin: 3% 0% 0% 0%;
    	padding: 0;
    }

    .content-03>ul>li{
    	width: 20%;
        padding: 1%;
        background: #fff;
        border: 2px solid #11111117;
        text-align: center;
        border-radius: 3px;
        cursor: pointer;
        transition: 0.3s;
        transform: translateY(0px);
    }

    .content-03>ul>li:hover{
        border: 2px solid #ecc401cc;
        transition: 0.3s;
        box-shadow: 0px 5px 10px -4px #11111191;
        transform: translateY(-10px);
    }

    .content-03>ul>li>img{
    	width: 50%;
        width: 45%;
        padding: 5%;
    }


    .content-03>ul>li>h3{
        margin: 0;
    }

    .content-03>ul>li>p{
        letter-spacing: 1px;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 0.9em;
        padding: 5% 0%;
        color: #111111bf;
        margin: 0%;
    }

    .content-03 button{
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        background: #ecc401;
        border: none;
        font-size: 1.2em;
        padding: 5px 15px;
        margin-top: 5px;
        cursor: pointer;
        color: #111;
        letter-spacing: 1px;
        transition: 0.4s;
        border-radius: 3px;
    }

/**/

    .content-04{
        width: 90%;
        padding: 0% 5% 5% 5%;
    }

    .content-04>h2{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        color: #111;
        font-size: 2.1em;
        margin: 0;
        padding: 0% 0%;
        line-height: 50px;
    }

    .content-04>p{
        text-align: center;
        font-size: 1.3em;
        font-family: 'Poppins', sans-serif;
        margin: 0 0 2% 0;
        padding: 0;
    }

/**/

    .slider-frame {
        width: 100%;
        height: auto;
        margin:0% 0%;
        overflow: hidden;
    }

    .slider-frame ul {
        display: flex;
        padding: 0;
        width: 400%;
        animation: slide 20s infinite alternate ease-in-out;
    }

    .slider-frame li {
        width: 100%;
        list-style: none;
    }

    .slider-frame li >ol {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .slider-frame li >ol>li {
        width: 30%;
        position: relative;
        border-radius: 3px;
        border: 2px solid #0000;
        transform: translateY(0px);
        transition: 0.3s;
        cursor: pointer;
    }

    .slider-frame li >ol>li:hover {
        border: 2px solid #ecc401cc;
        transition: 0.3s;
        box-shadow: 0px 5px 10px -4px #11111191;
        transform: translateY(-10px);
    }

    .slider-frame li >ol>li:hover p {
        transition: 0.3s;
        opacity: 1;
        height: 15%;
    }

    .slider-frame li >ol>li>p {
        font-family: 'Poppins', sans-serif;
        font-size: 1.4em;
        position: absolute;
        width: 92%;
        height: 0%;
        color: #fff;
        background: #111111b8;
        bottom: 0;
        margin: 0;
        padding: 4%;
        transition: 0.3s;
        opacity: 0;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .slider-frame li >ol>li>img {
        width: 100%;
        border-radius: 3px;
    }

    @keyframes slide {
        0% {margin-left: 0;}
        20% {margin-left: 0;}
        
        25% {margin-left: -100%;}
        45% {margin-left: -100%;}
        
        50% {margin-left: -200%;}
        70% {margin-left: -200%;}
        
        75% {margin-left: -300%;}
        100% {margin-left: -300%;}
    }

/**/

    .footer{
    	width: 90%;
    	margin: 0%;
    	padding: 1% 5% 1% 5%;
    	color:#fff; 
    	background: #111;
    }

    .footer ul{
    	width: 100%;
    	margin: 0;
    	padding: 0;
    	display: flex;
    	justify-content: space-around;
    	list-style: none;
    }

    .footer ul>li{
    	width: 20%;
    	text-align: left;
    	font-size: 1em;
    }

    .footer ul>li>h3{
        font-family: 'Poppins', sans-serif;
        letter-spacing: 1px;
        color: #ffffffeb;
    }

    .footer ul>li>h3::before{
        content: '| ';
        font-size: 1.3em;
        font-weight: bold;
        color: #ecc401;
    }

    .footer ul>li>ol{
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        list-style: none;
        letter-spacing: 0.5px;
        font-size: 1em;
        color: #ffffffc9;
    }

    .footer ul>li>ol>li{
        cursor: pointer;
        transition: 0.3s;
    }

    .footer ul>li>ol>li:hover{
        transition: 0.3s;
        color:#fff;
    }

    .footer > p{
        font-size: 0.9em;
        text-align: center;
        margin: 2% 0% 0% 0%;
        padding: 0%;
        color: #ffffff61;
    }

    .footer > p > span{
        transition: 0.3s;
        cursor: pointer;
    }

    .footer > p > span:hover{
        transition: 0.3s;
        color:#fff;
    }

/* MODAL */

    .content-modal{
        display: flex;
        position: fixed;
        width: 100%;
        top: 0;
        height: 100%;
        background: #111111a8;
        z-index: -99;
        opacity: 0;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
    }

    .content-modal-active{
        z-index: 99;
        opacity: 1;
        transition: 0.3s;
    }

    .modal{
        width: 50%;
        background: #fff;
        position: relative;
        border-radius: 5px;
        transition: 0.3s;
        opacity: 0;
        padding: 1em;
    }

    .modal > span{
        position: absolute;
        right: 0.8em;
        top: 0.5em;
        font-size: 1.5em;
        color: #ff1212;
        cursor: pointer;
    }


    .modal >div{
        display: none;
    }

    .modal >div>h3{
        margin: 0;
        padding: 0;
        font-size: 1.3em;
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 2px solid #0000002e;
    }

    .modal >div>img{
        width: 100%;
    }

    .modal-active{
        transition: 0.3s;
        opacity: 1!important;
    }

    .active-modal-info{
        display: block!important;
    }

/* MEDIAS QUERY */
@media(max-width: 768px){

    /**/
    .header-00 ul>li {
        width: 33%;
        font-size: 1.5em;
    }

    .header-00 ul>li>span {
        display: none;
    }

    /**/
    .header div {
        width: 50%;
    }

    .header ul {
        width: 50%;
    }

    /**/
    .slider {
        padding: 25% 5%;
    }
    /**/

    .content-01 {
        flex-wrap: wrap;
    }

    .content-01>div {
        width: 100%;
        margin: 0;
        padding:25px 0;
    }


    /**/

    .content-03>ul {
        flex-wrap: wrap;
    }

    .content-03>ul>li {
        width: 40%;
        padding: 2%;
        margin: 0 0 5% 0;
    }

    /**/
    .carousel li{
        flex-wrap: wrap;
    }

    .carousel img {
        width: 30%;
        padding: 2% 1%;
    }
    /**/
    .footer {
        width: 100%;
        padding: 0% 0% 1% 0%;
    }

    .footer ul>li {
        width: 30%;
    }

}
