{% extends 'layout/layoutBase.html.twig' %}

{% block tituloPagina %} 
	{{title}}
{% endblock %}

{% block contenido %}

	<!-- BARRA DE BUSQUEDA -->
	<div id="fitro-busqueda-minuta">
		<h1><span>{{title}} correspondiente a la junta del {{ MinutaDetalle.fechaInicio|date('d-m-Y') }}</span></h1>
	</div>

	<hr class="hr-red">

	<!-- TABLA DE MINUTA -->
	{{ include('minuta/minutas/minuta-only-data.html.twig') }}

	<!-- BOTONES FORMA  Y MODALES -->
	{% if rol >= 2 %}
		{% include 'layout/modals.html.twig' %}
	{% endif %}
	
{% endblock %}
