<!DOCTYPE html>
<html>
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="theme-color" content="#111">
		<link rel="icon" type="image/x-icon" href="images/favicon.png" />

		<title>
			PRODEMEX | {% block tituloPagina %} inicio {% endblock %}
		</title>

		<!-- icons CDN -->
  		<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

  		<!-- Estilos css  -->
  		<link rel="stylesheet" type="text/css" href="./css/style.css">



	</head>

	<body>
		
		<div id="head">
			
			<div class="logo"  >
				<img onclick="window.location.href='inicio';" src='http://localhost/server/symfony/my_first_project/public/images/prodemex.png'>
			</div>

			<div class="menu">
				<ol>
					<li onclick="window.location.href='inicio';" >Inicio</li>
					
					<li onclick="window.location.href='minuta';" >Minutas</li>

					<li onclick="window.location.href='usuario';" >Usuarios</li>

					<li onclick="window.location.href='categoria';" >Categorias</li>

					<li onclick="window.location.href='tema';" >Temas</li>

					<li class="dropdown-m1">
						<i class="fas fa-plus-circle" title="Agregar nuev@" alt="Agregar nuev@" ></i>
						<ul>
							<li>Minuta</li>
							<li>Usuario</li>
							<li>Categoria</li>
							<li>Temas</li>
						</ul>
					</li>

					<li ><i class="fas fa-sign-out-alt" title="Cerrar sesion" alt="Cerrar sesion" ></i></li>

				</ol>
			</div>

			{% block cabecera %}{% endblock %}
				
		</div>

		<section id="content">
			{% block contenido %}{% endblock  %}
		</section>

		<footer id="footer">
			{% block piePagina %}{% endblock %}
			<p>© Copyright2022 PRODEMEX Todos los derechos reservados.</p>
		</footer>

	</body>

	<!-- javascript -->
  	<script src="js/js.js" ></script>

</html>