<!DOCTYPE html>
<html>
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="theme-color" content="#111">
		<link rel="icon" type="image/x-icon" href="images/favicon.png" />

		<title>
			PRODEMEX | {% block tituloPagina %} inicio {% endblock %}
		</title>

		<!-- icons CDN -->
  		<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

  		<!-- BOOTSTRAP -->
  		<link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  		<link href="https://getbootstrap.com/docs/5.0/assets/css/docs.css" rel="stylesheet">

  		<!-- Estilos css  -->
  		<link rel="stylesheet" type="text/css" href="./css/style.css">
  		<link rel="stylesheet" type="text/css" href="./css/normalize.css">

	</head>

	<body>
		
		<div id="head">
			
			<div class="logo"  >
				<img src='http://localhost/wm_server/symfony/my_first_project/public/images/prodemex.png'>
			</div>

			<div class="menu">
				<ol>
					<li onclick="window.location.href='inicio';" >Inicio</li>
						
					<li class="dropdown-m1">
						<span onclick="window.location.href='minuta';" >Minutas</span>
						<ul>
							<li onclick="window.location.href='minuta';" >Historico</li>
							<li onclick="window.location.href='audiencia';" >Audiencia</li>
							<li onclick="window.location.href='categoria';" >Categorias</li>
							<li onclick="window.location.href='seccion-minuta';" >Secciones</li>
							<li onclick="window.location.href='tema';" >Temas</li>
							<li onclick="window.location.href='registro-minuta';" >Registros</li>
							<li onclick="window.location.href='estatus';" >Estatus</li>
						</ul>
					</li>

					<li onclick="window.location.href='usuario';" >Usuarios</li>

					{% block cabecera %}

					
					{% endblock %}

					<li onclick="window.location.href='login';"><i class="fas fa-sign-out-alt" title="Cerrar sesion" alt="Cerrar sesion" ></i></li>

				</ol>
			</div>

			
				
		</div>

		<section id="content">

			{% block contenido %}{% endblock  %}
		</section>

		<footer id="footer">
			{% block piePagina %}{% endblock %}
			<p>© Copyright2022 PRODEMEX Todos los derechos reservados.</p>
		</footer>

	</body>

	<!-- javascript -->
  	<script src="js/js.js" ></script>


  	<!-- BOOTSTRAP JS -->
  	<script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
	<script src="https://getbootstrap.com/docs/5.0/assets/js/docs.min.js"></script>

</html>