<!DOCTYPE html>
<html>
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="theme-color" content="#111">

		<title>
			PRODEMEX | {% block tituloPagina %} inicio {% endblock %}
		</title>

		<!-- icons CDN -->
  		<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

	</head>

	<style type="text/css">

		@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

		html, body{
			font-family: 'Roboto Condensed', sans-serif;
			letter-spacing: 1px;
			margin: 0;
			padding: 0;
		}

		#head{
			padding: 0em 2em 0em 2em ;
			background: #053a76;
			color: #fff;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		#head .logo{
			width: 10%;
			margin: auto;
		}


		#head .logo > img{
			width: 100%;
		}

		#head .menu{
			width: 90%;
		}

		#head .menu > ol{
			list-style: none;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			margin: 0;
			padding: 0;
		}

		#head .menu > ol > li{
			margin-left: 1.5em;
			font-size: 1.2em;
			padding: 1.5em 0.5em 1.5em 0.5em;
			cursor: pointer;
		}

		#head .menu > ol > li:hover{
			color: #fa3644;
		}

		.dropdown-m1{
			position: relative;
		}


		.dropdown-m1 > ul{
			position: absolute;
			width: 10em;
			top: 0;
			left: 0;
			background: #053a76;
			color: #111;
			list-style: none;
			margin: 0 0 0 0;
			padding: 0;
			transform: translateY(-30px);
			transition: 0.4s;
			z-index: -99;
			opacity: 0;
		}

		.dropdown-m1:hover ul{
			transform: translateY(80px);
			transition: 0.4s;
			z-index: 99;
			opacity: 1;
		}

		.dropdown-m1 > ul > li{
			background: #fff;
			padding: 0.5em;
			border-left: 2px solid #053a76;
			transition: 0.3s;
			transform: translateX(0px); 
			box-shadow: -2px 4px 13px -2px #3333338a;
		}

		.dropdown-m1 > ul > li:hover{
			padding: 0.5em;
			transition: 0.3s;
			transform: translateX(10px);

		}

		#content{
			margin: 0;
			padding: 0 5%;
		}
		/**/
		#data-table-v1{
			position: relative;
			width: 100%;
			margin: 0;
			padding: 0;
		}

		#data-table-v1 > table{
			width: 100%;
		}

		#data-table-v1 td {
			border:2px solid #fff;
			border-collapse: collapse;
			padding: 10px 15px;
			background-color: #00000014;
			text-align: left;
		}

		#data-table-v1 th {
			text-align: center;
		    background-color: #053a76;
		    color: #fff;
		    font-size: 1.2em;
		    font-weight: 500;
		    padding: 10px 0px;
		}

		#data-table-v1 i{
			cursor: pointer;
		}
		#data-table-v1 i:hover{
			color: #fa3644;
		}

		/**/
		#footer{
			background: #053a76;
			color: #fff;
		}

		#footer p{
			margin: 1em 0 0 0 ;
			padding:1em 2em;
			text-align: center;
			font-size: 0.8em;  
		}

	</style>

	<body>

		
		<div id="head">
			
			<div class="logo">
				<img src="./images/prodemex.png">
			</div>

			<div class="menu">
				<ol>
					<li onclick="window.location.href='inicio';" >Inicio</li>
					
					<li onclick="window.location.href='minuta';" >Minutas</li>

					<li onclick="window.location.href='usuario';" >Usuarios</li>

					<li class="dropdown-m1">
						Agregar
						<ul>
							<li>Minuta</li>
							<li>Usuario</li>
						</ul>
					</li>
					<li >Cerrar Sesion <i class="fas fa-sign-out-alt"></i></li>
				</ol>
			</div>

			{% block cabecera %}{% endblock %}
				
		</div>

		<section id="content">
			{% block contenido %}{% endblock  %}
		</section>

		<footer id="footer">
			{% block piePagina %}{% endblock %}
			<p>© Copyright2022 PRODEMEX Todos los derechos reservados.</p>
		</footer>

	</body>

</html>