@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

/* MINUTA PRODEMEX VISTA ESCRITORIO */

	/* ESTILOS GENERALES DEL APLICATIVO*/
		html, body{
			font-family: 'Roboto Condensed', sans-serif;
			letter-spacing: 1px;
			margin: 0;
			padding: 0;
			background: #fff;
		}

		body h1{
			font-size: 2em;
		}

		.hr-red {
		    height: 2px;
		    border: none;
		    background: #fa364473;
		}

	/* CABECERA */	
		#head{
			padding: 0em 2em 0em 2em ;
			background: #053a76;
			color: #fff;
			display: flex;
			align-items: center;
			justify-content: space-between;
			z-index: 99;
		}

		#head .logo{
			width: 10%;
			margin: auto;

		}


		#head .logo > img{
			width: 100%;
			cursor: pointer;
		}

		#head .menu{
			width: 90%;
		}

		#head .menu > ol{
			list-style: none;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			margin: 0;
			padding: 0;
		}

		#head .menu > ol > li{
			margin-left: 1.5em;
			font-size: 1.3em;
			padding: 1.5em 0.5em 1.5em 0.5em;
			cursor: pointer;
		}

		#head .menu > ol > li:hover{
			color: #fa3644;
		}

		/* ESTILO DE MENU DESPLEGABLE DE CABECERA */

			.dropdown-m1{
				position: relative;
			}

			.dropdown-m1 > ul{
				position: absolute;
				width: 7em;
	    		top: 0;
	    		left: -60px;
				background: #053a76;
				color: #111;
				list-style: none;
				margin: 0 0 0 0;
				padding: 0;
				transform: translateY(-30px);
				transition: 0.4s;
				z-index: -99;
				opacity: 0;
			}

			.dropdown-m1:hover ul{
				transform: translateY(80px);
				transition: 0.4s;
				z-index: 99;
				opacity: 1;
			}

			.dropdown-m1 > ul > li{
				background: #fff;
				padding: 0.5em;
				border-left: 2px solid #053a76;
				transition: 0.3s;
				transform: translateX(0px); 
				box-shadow: -2px 4px 13px -2px #3333338a;
			}

			.dropdown-m1 > ul > li:hover{
				padding: 0.5em;
				transition: 0.3s;
				transform: translateX(10px);

			}

	/*ESTILOS CONTENEDOR DE CONTENIDO  */
		#content{
			margin: 0;
			padding: 0 5%;
		}

	/* ESTILO TABLA DE DATOS V-1 */
		#data-table-v1{
			position: relative;
			width: 100%;
			margin: 0;
			padding: 0;
		}

		/* FILTRO DE BASE DE DATOS */	
			#fitro-busqueda-minuta{

			}
			
		/* MENU DE LA TABLA*/
			.off{
				display: none;
				transition: 0.2s;
				opacity: 0;
				z-index: -9;
			}

			.on{
				display: inherit;
				transition: 0.2s;
				opacity: 1;
				z-index: 1;
			}

			.eye-off{
				display: none!important;
			}

			.eye-on{
				display: block;
			}	

			.btn-off{
				color: #053a7685;
			}

			.btn-off:hover{
				color: #053a76!important;
			}

			/* BARRA DE BUSQUEDA */
			#filtroRegistro{
				width: 98%;
			    margin: 0 0 20px 0;
			    background: #00000045;
			    padding: 1% 1%;
			    border-radius: 3px;
			}

			#data-table-v1 > ol{
				position: relative;
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 0;
				padding: 0;
				list-style: none;
				z-index: 9;
				background: #fff;
			}

			#data-table-v1 > ol > li > ul{
				list-style: none;
				position: relative;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				margin: 0;
				padding: 0;

			}

			#data-table-v1 > ol > li > ul > li{
				margin-left: 15px;
				padding: 0 15px;
				font-size: 1.8em;
				color: #053a76;
			}

		/* TABLA */
			.estatus-asistencia-off {
				background: #8f9699!important;
			}

			.estatus-asistencia-neutro{
				background-color: #263238!important;
    			color: #fff!important;		
    		}

			.estatus-asistencia-on {
				background: #388e3ccc!important;
			    color: #fff!important;
			}

			#data-table-v1 > table{
				width: 100%;
			}

			#data-table-v1 td {
				border:2px solid #fff;
				border-collapse: collapse;
				padding: 10px 15px;
				background-color: #00000014;
				text-align: left;
			}

			#data-table-v1 th {
				text-align: center;
			    background-color: #053a76;
			    color: #fff;
			    font-size: 1.2em;
			    font-weight: 500;
			    padding: 10px 0px;
			}

			#data-table-v1 i{
				cursor: pointer;
				font-size: 1.5em;
			}

			#data-table-v1 i:hover{
				/*color: #fa3644;*/

			}

			.th-ausentes{
				background-color: #cfd8dc!important;
				color: #000!important;
			}

		/* CONTENEDOR MAS INFORMACION TEMA */
			.mas-info-tema th{
				text-align: center;
			    background-color: #053a762e;
			    color: #000;
			    font-size: 1.2em;
			    font-weight: 500;
			    padding: 5px 0px;
			}

			.mas-info-tema 	td{
				background: #fda4ab1f;
			}

			.tema-off{
				display: none;
			}

	/* ESTILOS DE PIE DE PAGINA */
		#footer{
			background: #053a76;
			color: #fff;
		}

		#footer p{
			margin: 1em 0 0 0 ;
			padding:1em 2em;
			text-align: center;
			font-size: 0.8em;  
		}

/* MINIUTA PRODEMEX VISTA MOVIL */