@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

/* MINUTA PRODEMEX VISTA ESCRITORIO */

	/* ESTILOS GENERALES DEL APLICATIVO*/
		html, body{
			font-family: 'Roboto Condensed', sans-serif;
			letter-spacing: 1px;
			margin: 0;
			padding: 0;
		}

	/* CABECERA */	
		#head{
			padding: 0em 2em 0em 2em ;
			background: #053a76;
			color: #fff;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		#head .logo{
			width: 10%;
			margin: auto;
		}


		#head .logo > img{
			width: 100%;
		}

		#head .menu{
			width: 90%;
		}

		#head .menu > ol{
			list-style: none;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			margin: 0;
			padding: 0;
		}

		#head .menu > ol > li{
			margin-left: 1.5em;
			font-size: 1.2em;
			padding: 1.5em 0.5em 1.5em 0.5em;
			cursor: pointer;
		}

		#head .menu > ol > li:hover{
			color: #fa3644;
		}

		/* ESTILO DE MENU DESPLEGABLE DE CABECERA */

			.dropdown-m1{
				position: relative;
			}

			.dropdown-m1 > ul{
				position: absolute;
				width: 7em;
	    		top: 0;
	    		left: -60px;
				background: #053a76;
				color: #111;
				list-style: none;
				margin: 0 0 0 0;
				padding: 0;
				transform: translateY(-30px);
				transition: 0.4s;
				z-index: -99;
				opacity: 0;
			}

			.dropdown-m1:hover ul{
				transform: translateY(80px);
				transition: 0.4s;
				z-index: 99;
				opacity: 1;
			}

			.dropdown-m1 > ul > li{
				background: #fff;
				padding: 0.5em;
				border-left: 2px solid #053a76;
				transition: 0.3s;
				transform: translateX(0px); 
				box-shadow: -2px 4px 13px -2px #3333338a;
			}

			.dropdown-m1 > ul > li:hover{
				padding: 0.5em;
				transition: 0.3s;
				transform: translateX(10px);

			}

	/*ESTILOS CONTENEDOR DE CONTENIDO  */
		#content{
			margin: 0;
			padding: 0 5%;
		}

	/* ESTILO TABLA DE DATOS V-1 */
		#data-table-v1{
			position: relative;
			width: 100%;
			margin: 0;
			padding: 0;
		}

		#data-table-v1 > table{
			width: 100%;
		}

		#data-table-v1 td {
			border:2px solid #fff;
			border-collapse: collapse;
			padding: 10px 15px;
			background-color: #00000014;
			text-align: left;
		}

		#data-table-v1 th {
			text-align: center;
		    background-color: #053a76;
		    color: #fff;
		    font-size: 1.2em;
		    font-weight: 500;
		    padding: 10px 0px;
		}

		#data-table-v1 i{
			cursor: pointer;
		}
		#data-table-v1 i:hover{
			color: #fa3644;
		}

	/* ESTILOS DE PIE DE PAGINA */
		#footer{
			background: #053a76;
			color: #fff;
		}

		#footer p{
			margin: 1em 0 0 0 ;
			padding:1em 2em;
			text-align: center;
			font-size: 0.8em;  
		}

/* MINIUTA PRODEMEX VISTA MOVIL */