@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

/* MINUTA PRODEMEX VISTA ESCRITORIO */

	/* ESTILOS GENERALES DEL APLICATIVO*/
		html, body{
			font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
			letter-spacing: 1px;
			margin: 0;
			padding: 0;
			background: #fff;
		}

		body h1{
			font-size: 2em;
		}

		.hr-red {
		    height: 2px;
		    border: none;
		    background: #fa364473;
		}

	/* CABECERA */	
		#head{
			padding: 0em 2em 0em 2em ;
			background: #053a76;
			color: #fff;
			display: flex;
			align-items: center;
			justify-content: space-between;
			z-index: 99;
		}

		#logo-login{
			width: 20%;
    		margin: 1% auto;
		}

		#head .logo{
			width: 10%;
			margin: auto;

		}

		#head .logo > img{
			width: 100%;
			cursor: pointer;
		}

		#head .menu{
			width: 90%;
		}

		#head .menu > ol{
			list-style: none;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			margin: 0;
			padding: 0;
		}

		#head .menu > ol > li{
			margin-left: 1.5em;
			font-size: 1.3em;
			padding: 1.5em 0.5em 1.5em 0.5em;
			cursor: pointer;
		}

		#head .menu > ol > li:hover{
			color: #fa3644;
		}

		/* ESTILO DE MENU DESPLEGABLE DE CABECERA */

			.dropdown-m1{
				position: relative;
			}

			.dropdown-m1 > ul{
				position: absolute;
				width: 7em;
	    		top: 0;
	    		left: -60px;
				background: #053a76;
				color: #111;
				list-style: none;
				margin: 0 0 0 0;
				padding: 0;
				transform: translateY(-30px);
				transition: 0.4s;
				z-index: -99;
				opacity: 0;
			}

			.dropdown-m1:hover ul{
				transform: translateY(80px);
				transition: 0.4s;
				z-index: 99;
				opacity: 1;
			}

			.dropdown-m1 > ul > li{
				background: #fff;
				padding: 0.5em;
				border-left: 2px solid #053a76;
				transition: 0.3s;
				transform: translateX(0px); 
				box-shadow: -2px 4px 13px -2px #3333338a;
			}

			.dropdown-m1 > ul > li:hover{
				padding: 0.5em;
				transition: 0.3s;
				transform: translateX(10px);

			}

	/*ESTILOS CONTENEDOR DE CONTENIDO  */
		#content{
			margin: 0;
			padding: 0 5%;
		}

	/* ESTILO TABLA DE DATOS V-1 */
		#data-table-v1{
			position: relative;
			width: 100%;
			margin: 0;
			padding: 0;
		}

		/* FILTRO DE BASE DE DATOS */	
			#fitro-busqueda-minuta{
				
			}

			#fitro-busqueda-minuta h1{
				font-size: 3em;
			}

			#fitro-busqueda-minuta h1>span{
				color: #fa3644;
			}

			#fitro-busqueda-minuta ol{
				width: 100%;
				list-style: none;
				padding: 0;	
				display: flex;
				justify-content: flex-start;
			}

			#fitro-busqueda-minuta ol>li{
				width: 50%;
				padding: 0.5%;
				margin-right: 0.5%;
				border-radius: 5px;
			}

			#fitro-busqueda-minuta ol>li form{
				width: 100%;
			}

			#fitro-busqueda-minuta ol>li form > div {
				width: 100%;
				display: flex;
				justify-content: flex-start;
				align-items: center;
			}

			#fitro-busqueda-minuta ol>li form > div > div {
				width: 45%;
				display: flex;
				justify-content: flex-start;
				margin-right: 1%;	
				align-items:center;
			}

			#fitro-busqueda-minuta ol>li form > div > div label{
				width: 55%;
				font-weight: bold;
				font-size: 1.3em;
			}

			#fitro-busqueda-minuta ol>li form > div > div input{
				font-size: 1.3em;
			    padding: 1%;
			    border-radius: 5px;
			    width: 45%;
			    border: 2px solid #3333331a;
			    background: #3333330d;
			    border-bottom: 2px solid #fa364473;
			}

			#fitro-busqueda-minuta ol>li form > div > div button {
			    font-size: 1.3em;
			    padding: 2% 3%;
			    border-radius: 5px;
			    border: none;
			    background: #053a76;
			    color: #fff;
			    cursor: pointer;
			}

			#fitro-busqueda-minuta ol>li form > div > div button:hover {
				color: #fff;
    			background: #fa3644;
			}

			
		/* MENU DE LA TABLA*/
			.off{
				display: none;
				transition: 0.2s;
				opacity: 0;
				z-index: -9;
			}

			.on{
				display: inherit;
				transition: 0.2s;
				opacity: 1;
				z-index: 1;
			}

			.eye-off{
				display: none!important;
			}

			.eye-on{
				display: block;
			}	

			.btn-off{
				color: #053a7685;
			}

			.btn-off:hover{
				color: #053a76!important;
			}

			/* BARRA DE BUSQUEDA */
			#filtroRegistro{
				width: 98%;
			    margin: 0 0 20px 0;
			    background: #00000045;
			    padding: 1% 1%;
			    border-radius: 3px;
			}

			#data-table-v1 > ol{
				position: relative;
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 0;
				padding: 0;
				list-style: none;
				z-index: 9;
				background: #fff;
			}

			#data-table-v1 > ol > li > ul{
				list-style: none;
				position: relative;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				margin: 0;
				padding: 0;

			}

			#data-table-v1 > ol > li > ul > li{
				margin-left: 15px;
				padding: 0 15px;
				font-size: 1.8em;
				color: #053a76;
			}

		/* TABLA */
			.estatus-asistencia-off {
				background: #8f9699!important;
			}

			.estatus-asistencia-neutro{
				background-color: #263238!important;
    			color: #fff!important;		
    		}

			.estatus-asistencia-on {
				background: #388e3ccc!important;
			    color: #fff!important;
			}

			/* TABLE V1*/
				#data-table-v1 > table{
					width: 100%;
				}

				#data-table-v1 td {
					border:2px solid #fff;
					border-collapse: collapse;
					padding: 10px 15px;
					background-color: #00000014;
					text-align: left;
				}

				#data-table-v1 th {
					text-align: center;
				    background-color: #053a76;
				    color: #fff;
				    font-size: 1.2em;
				    font-weight: 500;
				    padding: 10px 0px;
				}

				#data-table-v1 i{
					cursor: pointer;
					font-size: 1.5em;
				}

				#data-table-v1 i:hover{
					color: #fa3644;

				}

			/* TABLE V2*/

				#data-table-v2 > table{
					width: 100%;
				}

				#data-table-v2 td {
					border:2px solid #fff;
					border-collapse: collapse;
					padding: 10px 15px;
					background-color: #0000;
					text-align: left;
				}

				#data-table-v2 i{
					cursor: pointer;
					font-size: 1.5em;
					margin: 0 2px;
				}


			/* TH COLOR AUSENYTES*/	
			.th-ausentes{
				background-color: #cfd8dc!important;
				color: #000!important;
			}

			/* BOTONRES DE ACCION DE TABLA DE MINUTAS*/
				.action-icons{
					display: flex;
					justify-content: space-between;
					align-items: center;
				}

				.action-icons i{
					margin-right: 10px;
				}

			/* FORMULARIO MINUTA */
			#form-minuta{

			}

			#form-minuta h2{
			    font-size: 2em;
			    text-align: left;
			    color: #053a76;
			    font-weight: 600;
			    text-transform: capitalize;
			    margin: 20px 0px 10px 0px;
			    padding: 5px 5px;
			    border-bottom: 2px solid #fa364440;
			}

			#form-minuta p {
			    font-size: 1em;
			    text-align: left;
			    color: #053a76;
			    font-weight: 600;
			    text-transform: capitalize;
			    margin: 15px 0px 5px 0px;
			}

			.btn-full-width{
				width: 100%;
				margin-bottom: 10px;
			}

			#form-minuta form > div > div > div {
				width: 100%;
			}

		/* CONTENEDOR MAS INFORMACION TEMA */
			.mas-info-tema th{
				text-align: center;
			    background-color: #053a762e;
			    color: #000;
			    font-size: 1.2em;
			    font-weight: 500;
			    padding: 5px 0px;
			}

			.mas-info-tema 	td{
				background: #fda4ab1f;
			}

			.tema-off{
				display: none;
			}

	/* ESTILOS FORMULARIOS */

		#formularios{
		}

		#formularios h2{
			font-size: 2.3em;
			width: 100%;
		}

		#formularios form{
			width: 30%;
			text-align: left;
		}

		#formularios form  label{
			width: 100%;
		    font-size: 1em;
		    text-align: left;
		    color: #053a76;
		    font-weight: 600;
		}

		#formularios form  input {
			width: 89%;
		    padding: 2% 3%;
		    margin: 1% 0 5% 0;
		    border-radius: 5px;
		    background: #0000000a;
		    border: 2px solid #fa364430;
		    font-weight: 600;
		    letter-spacing: 0.5px;
		}

		#formularios form  button {
			width: 50%;
		    padding: 2%;
		    font-size: 1.3em;
		    font-weight: 400;
		    letter-spacing: 1px;
		    background: #053a76;
		    color: #fff;
		    border-radius: 5px;
		    outline: none;
		    border: 0px;
		    margin-left: 25%;
		    cursor: pointer;
		    transition: 0.2s;
		}


		#formularios form  button:hover {
			background: #f63645;
			transition: 0.2s;
		}

	/* ESTILOS MODAL */
	#content-modals{
		background: #000;
		position: relative;
	}

	#content-modals > div{
		position: fixed;
	    background: #0000004d;
	    width: 100%;
	    height: 100%;
	    left: 0%;
	    top: 0%;
	    z-index: 9;
	    padding: 5% 20% 0% 20%;
	    display: none;
	}

	#content-modals span{
	    font-size: 1.7em;
	    color: #f00;
	    cursor: pointer;
	}	

	.modal-wm{
		background: #eee;
	    border-radius: 5px;
	    padding: 0% 0% 1% 0%;
	}

	/* ESTILOS DE PIE DE PAGINA */
		#footer{
			background: #053a76;
			color: #fff;
		}

		#footer p{
			margin: 1em 0 0 0 ;
			padding:1em 2em;
			text-align: center;
			font-size: 0.8em;  
		}

/* MINIUTA PRODEMEX VISTA MOVIL */

@media(max-width: 430px){
	/*cabecera*/
	#logo-login {
	    width: 70%;
	    margin: 5% auto;
	}

	/* formulario*/
	#formularios form{
		width: 90%;
		text-align: left;
	}
}