{% extends 'layoutBase.html.twig' %}

{% block tituloPagina %} 
    {{title}}
{% endblock %}

{% block contenido %}
    
    <div class="login" >
        <form>
            <label>Usiario</label>
            <input type="text" name="usuario">
            <label>Contaseña</label>
            <input type='password' name="password">
        </form>
    </div>

{% endblock %}
