Options +FollowSymLinks
RewriteEngine on

Options -Indexes
ErrorDocument 403 https://kadcreativos.com/

RewriteRule ^/$ index.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$ index.php?seccion=$1&%{QUERY_STRING} [L]

