
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;800&display=swap');

    html{
        scroll-behavior: smooth;
        box-sizing: border-box;
        overflow-x: hidden;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }

    body{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        font-family: 'Poppins', sans-serif!important;
        background-image: url(../images/texture.png);
        background-size: 100%;
    }   

    html,body {
        font-size: 18px;
        line-height: 1.5
    }

    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 38px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 22px;
    }

    p{
        font-size: 20px;
    }

    h1,h2,h3,h4,h5,h6,p {
        font-family: 'Poppins', sans-serif!important;
    }

    input {
        font-family: 'Poppins', sans-serif!important;
    }

    a {
        background-color: transparent;
         color: inherit;
    }

    figure {
        margin: 1em 40px
    }

    img {
        border-style: none;
        vertical-align: middle;
    }

    ol,ul {
        margin: 0;
        padding: 0;
    }

/* FX */
        
    @keyframes moviendrew {
        0% {
            transform: translateY(0px);
        }
        100% {
            transform: translateY(20px);
        }
    }

    .updown{
        animation-name: moviendrew;
        animation-duration: 0.6s;
        animation-iteration-count: infinite;
        animation-direction: alternate;  
    }

/* CTA */

    .cta-wha-flotante{
        position: fixed;
        bottom: 7%;
        right: 2%;
        background: #25D366;
        border-radius: 50%;
        border: none;
        outline: none;
        color: #fff;
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        box-shadow: 0px 0px 5px 0px #111111b0;
        cursor: pointer;
        transition: 0.3s;
        z-index: 5;
    }

    .cta-wha-flotante:hover{
        color: #ecd71d;
        transform: scale(1.1);
        transition: 0.3s;
    }

/* NAV */
	.nav-bar{
		width: 100%;
		background: #085CAC;
        box-shadow: 0px 5px 10px -5px #111;
	}

	.nav-bar > ul {
	 	display: flex;
	 	justify-content: space-between;
	 	align-items: stretch;
	 	list-style: none;
	 	margin: 0;
	 	padding: 0;
	}

	.nav-bar > ul > li {
		width: 20%;
	    padding: 0% 2%;
	    color: #fff;
	    text-align: center;
	    display: flex;
	    justify-content: center;
	    align-items: center;
        cursor: pointer;
        transition: 0.3s;
        font-size: 20px;
	}

    .nav-bar > ul > li > i {
        margin-right: 10px;
    }

    .nav-bar > ul > li:hover {
        transition: 0.3s;
        color: #ecd71d;
    }

    .nav-bar > ul > li:hover i{
        transform: translateY(-5px);
        transition: 0.2s;
    }

	.nav-bar > ul > li > img {
	    width: 60%;
        padding: 2% 0%;
	}

	.nav-bar > ul > .cta-nav {
		background: #ecd71d;
    	color: #111;
    	font-family: 'Poppins', sans-serif!important;
        font-weight: bold;
        font-size: 24px;
	}

    .nav-bar > ul > .cta-nav:hover {
        background: #111;
        transition: 0.3s;
        transform: translateX(-10px);
    }

/* BANNER - INDEX */
    .box-banner-index{
        width: 100%;
        position: relative;
    }

    .box-banner-index > div{
        width: 90%;
        position: absolute;
        left: 5%;
        top: 5%;
    }

    .box-banner-index > div > h1{
        font-family: 'Poppins', sans-serif!important;
        font-size: 70px;
        line-height: 80px;
        margin-bottom: 0%; 
    }


    .box-banner-index > div > p{
        font-size: 28px;
    }

    .box-banner-index > div > button {
        font-size: 20px;
        font-family: 'Poppins', sans-serif!important;
        font-weight: bold;
        letter-spacing: 0.5px;
        padding: 0.5% 3%;
        background: #ecd71d;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        border: 3px solid #0000;
    }

    .box-banner-index > div > button:hover {
        transform: scale(1.03);
        box-shadow: 0px 0px 10px -1px #333;
        background: #138872;
        color: #fff;
    }

    .box-banner-index > img{
        width: 100%;
    }

    .mouse-icon{
        position: absolute;
        bottom: 20%;
        width: 60%;
        text-align: center;
        right: 20%;
    }

    .mouse-icon > img{
        width: 100px;
        cursor: pointer;
    }

/* BLOQUE 1 */
    .bloque-1{
        width: 80%;
        padding: 5% 10% 3% 10%;
        text-align: center;
    }

    .bloque-1 h2 > span{
        color:#138872;
    }

    .bloque-1 p > span{
        color:#138872;
    }

    .bloque-1 ul{
        width: 100%;
        margin: 10% 0% 10% 0%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        list-style: none;
    }

    .bloque-1 ul > li{
        width: 30%;
    }

    .bloque-1 ul > li > img{
        width: 35%;
        cursor: pointer;
    }

    .bloque-1 ul > li:hover img{
        transition: 0.3s;
        transform: translateY(-15px);
    }

    .bloque-1 ul > li:hover h3{
        transition: 0.2s;
        color:#138872;
    }

    .bloque-1 div{
        width: 100%;
        padding: 4% 0%;
        background: #025cae3b;
        border-radius: 5px;
    }

    .bloque-1 div > button {
        font-size: 22px;
        font-family: 'Poppins', sans-serif!important;
        font-weight: bold;
        letter-spacing: 0.5px;
        padding: 1% 2%;
        background: #ecd71d;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.2s;
        border: 3px solid #0000;
    }

    .bloque-1 div > button:hover {
        transform: scale(1.03);
        box-shadow: 0px 0px 10px -1px #333;
        background: #111;
        color: #fff;
    }

     .bloque-1 div > button:hover span{
        color: red;
     }

/* BLOQUE 2 */
    .bloque-2{
        width: 80%;
        padding: 5% 10% 5% 10%;
    }

    .bloque-2 > ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        flex-wrap: wrap;
    }

    .bloque-2 > ul > li{
        width: 50%;
    }

    .bloque-2 > ul > li > ol {
        list-style: none;
        line-height: 25px;
    }

    .bloque-2 > ul > li > ol > li {
        padding-left: 10%;
        position: relative;
    }

    .bloque-2 > ul > li > ol > li > p{
        width: 100%;
    }

    .bloque-2 > ul > li > ol > li > i{
        position: absolute;
        left: 3%;
        top: 0%;
        font-weight: bold;
        font-size: 25px;
        color: #138872;
        transition: 0.2s;
    }

    .bloque-2 > ul > li > ol > li:hover i {
        transform: translateX(10px);
    }

    .bloque-2 > ul > li > ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .bloque-2 > ul > li > ul > .porcent-100{
        width: 100%;
        margin-bottom: 2%;
    }

    .bloque-2 > ul > li > ul > .porcent-50{
        width: 49%;
    }

    .bloque-2 > ul > li > ul > li > img {
        width: 100%;
        border-radius: 10px;
    }

/* BLOQUE 3 */
    .bloque-3{
        width: 80%;
        padding: 3% 10% 3% 10%;
        text-align: center;
        background: #0A8D76;
        color: #fff;
    }

    .bloque-3 button:hover {
        transform: scale(1.03);
        box-shadow: 0px 0px 10px -1px #333;
        background: #111;
        color: #fff;
    }
    .bloque-3 button {
        font-size: 22px;
        font-family: 'Poppins', sans-serif!important;
        font-weight: bold;
        letter-spacing: 0.5px;
        padding: 1% 2%;
        background: #ecd71d;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.2s;
        border: 3px solid #0000;
    }

/* BLOQUE 4  */
    .parallas {
      margin: 0 auto;
    }

    .parallax {
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 18rem;
      max-width: 100%;
      position: relative;
    }

    .texto-interior {
      color: #fff;
      font-size: 2rem;
      font-weight: bold;
      left: 10%;
      position: absolute;
      text-align: center;
      top: 40%;
      width: 80%;
    }

    .img-uno {
      background-image: url("../images/parallax.jpg");
    }

/* BLOQUE 5 */ 
    .bloque-5{
        width: 80%;
        padding: 3% 10% 5% 10%;
        text-align: center;
    }

    .bloque-5 > form > ol{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        list-style: none;
    }

    .bloque-5 > form > ol > li{
        margin-bottom: 2%;
        text-align: left;
    }

    .bloque-5 > form label, input{
        width: 100%;
        text-align: left;
    }

    .bloque-5 > form {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
    }

    .bloque-5 > form > ol {
        width: 50%;
    }




